// ==========================================================================
// BASE
// ==========================================================================

// Settings + Tools
// ==========================================================================
@import "settings.colors";
@import "settings.defaults";
@import "inuit-functions/tools.functions";
@import "tools.mixins";


// Components
// ==========================================================================



// Trumps
// ==========================================================================
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

