// LINKS
// ==========================================================================

a {
  color: $color-base-link;
  text-decoration: none;

  transition: 0.2s;
  @include attention() {
    color: $color-base-link-hover;
    text-decoration: underline;
  }
}