// CONTENT
// ==========================================================================

.byline,
.updated:not(.published) {
	display: none;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.post {
	margin-bottom: 80px;
}

.entry__title {
	margin: 0;
}

.entry__title__a {

	@include attention( true ) {
		color: black;
	}
}

.entry__meta {
	margin-bottom: 20px;
	color: $color-gray;
}

