// NAV
// ==========================================================================

$header__nav--height: 85px;

.header__nav {
  height: $header__nav--height;
  background: white;
  background: rgba( white, 0.9 );
}


// MENUS
// ==========================================================================

ul.menu__ul,
div.menu__ul > ul {
  margin: 0;
  padding: 0;
}

.menu__ul .menu-item {
  border: 1px solid $color-gray-ccc;
  display: inline-block;
  margin-right: 15px;
  position: relative;

  &:last-child {
    margin-right: 0;
  }
}


.menu__ul .menu-item a {
  color: $color-base-txt;
  display: block;
  font-size: 14px;
  padding: 5px 20px;
  text-decoration: none;
}


.menu__ul .menu-item:hover > a,
.menu__ul .menu-item a:hover,
.menu__ul .menu-item:focus > a,
.menu__ul .menu-item a:focus {
  text-decoration: underline;
}

.menu__ul .sub-menu,
.menu__ul .children {
  margin: 0;
  border-top: 0;
  padding: 0;
  position: absolute;
  left: -2px;
  z-index: 99999;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.menu__ul .sub-menu ul,
.menu__ul .children ul {
  border-left: 0;
  left: 100%;
  top: 0;
}

ul.menu__ul ul a,
.menu__ul ul ul a {
  // color: $color-menu-link;
  margin: 0;
  width: 200px;
}

ul.menu__ul ul a:hover,
.menu__ul ul ul a:hover,
ul.menu__ul ul a:focus,
.menu__ul ul ul a:focus {
  // background-color: #db572f;
}

ul.menu__ul .menu-item:hover > ul,
.menu__ul ul .menu-item:hover > ul,
ul.menu__ul .focus > ul,
.menu__ul .focus > ul {
  clip: inherit;
  overflow: inherit;
  height: inherit;
  width: inherit;
}

.menu__ul .current_page_item > a,
.menu__ul .current_page_ancestor > a,
.menu__ul .current-menu-item > a,
.menu__ul .current-menu-ancestor > a {
  // color: $color-menu-link--active;
}



