// LOGO
// ==========================================================================

.header__logo {
  width: 220px;
  margin: 0 auto;
  // margin: 5px 18px 5px 0;
  float: left;
}

.header__logo-a {
  @extend %clearfix;
  display: block;
}
.header__logo-img {
  max-width: none;
  height: 85px;
  width: 100%;
  float: left;
}
