// CONTENT
// ==========================================================================

.byline,
.updated:not(.published) {
	display: none;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.post {
	margin-bottom: 80px;
}

.entry__title {
	margin: 0;
}

.entry__title__a {

	@include attention( true ) {
		color: black;
	}
}

.entry__meta {
	margin-bottom: 20px;
	color: $color-gray;
}



$notify-box-padding: 8px 12px;

/* Notes */
.note {
	padding: $notify-box-padding;
	background: #eee;
	border: 1px solid #ccc;
}

/* Warnings/Alerts */
.warning, .alert {
	padding: $notify-box-padding;
	background: #fffbbc;
	border: 1px solid #E6DB55;
}

/* Errors */
.error {
	padding: $notify-box-padding;
	background: #ffebe8;
	border: 1px solid #C00;
}

/* Downloads */
.download {
	padding: $notify-box-padding;
	background: #e7f7d3;
	border: 1px solid #6c3;
}
