// CONTENT
// ==========================================================================

.byline,
.updated:not(.published) {
	display: none;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}


