// LAYOUT
// ==========================================================================

.site--wrapper {
}

.main__title,
.main__content {
  width: 100%;
}

.main__title {
  @include margin( bottom, 1rem );
}
.main__content {
  color: $color-gray;
  background: rgba( $color-gray-lighter, 0.6 );
  padding: 20px 0;
}

@media screen and (min-width: 35.5em) { // >= 568px
}

@media screen and (min-width: 63.750em) { // >= 1020px
  .site--wrapper {
    max-width: $base-site-width;
    margin-left: auto;
    margin-right: auto;
  }
}


@media screen and (min-width: 35.5em) { // >= 568px
}

@media screen and (min-width: 48em) { // >= 768px
}

@media screen and (min-width: 58.750em) { // >= 940px
}

@media screen and (min-width: 63.750em) { // >= 1020px
}

@media screen and (min-width: 64em) { // >= 1024px
}

@media screen and (min-width: 80em) { // >= 1280px
}

@media screen and (min-width: 1600px) {
}
